<!-- productos/templates/productos/consulta.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Productos</title>
    <link rel="stylesheet" href="{% static 'productos/styles.css' %}">
</head>
<body>
    <h1>Lista de Productos Registrados</h1>
    <ul>
        {% for producto in productos %}
            <li>{{ producto.codigo }} - {{ producto.nombre }} - {{ producto.marca }} - {{ producto.fecha_vencimiento }}</li>
        {% empty %}
            <li>No hay productos registrados.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'registro_producto' %}">Registrar nuevo producto</a>
</body>
</html>
