<!-- productos/templates/productos/resultado.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto Registrado</title>
    <link rel="stylesheet" href="{% static 'productos/styles.css' %}">
</head>
<body>
    <h1>Producto Registrado con Éxito</h1>
    <p>Código: {{ producto.codigo }}</p>
    <p>Nombre: {{ producto.nombre }}</p>
    <p>Marca: {{ producto.marca }}</p>
    <p>Fecha de Vencimiento: {{ producto.fecha_vencimiento }}</p>

    <a href="{% url 'registro_producto' %}">Registrar otro producto</a>
    <a href="{% url 'consulta_productos' %}">Consultar productos</a>
</body>
</html>
